
.mind-blowing-container {
  transform: translate(650px, -500px);
}

.lottie-container {
  opacity: 0;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
